<!-- <h3>Comments</h3> -->
<div >
  <form name='comments' ng-submit='addComment()' ng-controller='CommentCtrl'> <!-- ng-submit will disable the default form action and use our function -->

        <!-- Hide Comment Text Box  And Get Saved Comments-->

        <!-- COMMENT TEXT -->
        <div class="form-group">
          <input type="text" class="form-control input-lg" name="text" ng-model="commentData.text" placeholder="Enter Your Comments">
        </div>

        <!-- SUBMIT BUTTON -->
        <div class="article-title text-right">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>

       <!--  <div ng-click='getSavedComments()' class="topTrends article-title text-right">
          <span type="submit" class="btn btn-default">See Comments</span>
        </div>
 -->

        <!-- Display Comments in Reverse Order -->
        <div ng-repeat='comment in comments.slice().reverse()'>
          <div id="comments-header">
            <h2 class="comment">
              {{user.firstname}}&nbsp{{user.lastname}}
            </h2>
            <img ng-src="{{user.picture}}">
          <span>{{comment.text}}</span>
            <div id="comments-title">
            </div>
          <div><a href='#' ng-click='deleteComment(comment._id); $event.preventDefault()' class='text-muted'>Delete</a></div>
          </div>





<!--
          <span><a href='#' ng-click='editComment' class='text-muted'>Edit</a></span> -->
        </div>
    </form>
</div>