<div >
  <form name="commentForm" ng-submit="addComment()" ng-controller="CommentCtrl"> <!-- ng-submit will disable the default form action and use our function -->

        <!-- COMMENT TEXT -->
        <div  ng-show="!!user._facebookUniqueID">
          <div class="form-group comment-input">
            <input type="text" class="form-control input-lg" name="text" ng-model="commentText" placeholder="What do you think?">
          </div>

          <!-- SUBMIT BUTTON -->
          <div class="comment-submit text-right">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>

        <!-- Display Comments in Reverse Order -->
        <div ng-repeat="comment in comments.slice().reverse() track by $index">
          <div id="comments-header">
            <span>
              <h2 class="comment">
                <a class="comments-picture" href="https://www.facebook.com/{{user._facebookUniqueID}}">
                  <img ng-src="{{users[comment._facebookUniqueID].picture || users[0][comment._facebookUniqueID].picture}}">
                </a>
                <a class="comments-user-name" href="https://www.facebook.com/{{user._facebookUniqueID}}">
                  {{users[comment._facebookUniqueID].firstname}}&nbsp{{users[comment._facebookUniqueID].lastname}}
                </a>
              </h2>
            </span>
          <span class="comment-text">{{comment.text}}</span>
            <div id="comments-title">
            </div>
          <div class="comment-options">
           <span><a href="#" ng-show="comment._facebookUniqueID === user._facebookUniqueID" ng-click="deleteComment(comment._id, $index); $event.preventDefault()" class="text-muted">Delete</a></span>
          </div>
        </div>
      </div>
  </form>
</div>
