<h2 class="article-title">
  <a class="article-name" ng-href="{{ primaryArticle.links.permalink }}">
    {{ primaryArticle.title }}
  </a>
  <span class="save-button" ng-show="isAuth()">
    <button ng-click="clickSave()" class="btn btn-default">
      Save Article
    </button>
  </span>
  <span class="analyze-button" ng-show="isAuth()">
    <button ng-click="renderBubbleChart(article, $event)" class="btn btn-default">
      Analyze Tone
    </button>
  </span>
  <span>
    <a class="facebook-button" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{news[0].links.permalink}}">
      <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
    </a>
  </span>
  <span>
    <a href="https://twitter.com/intent/tweet?text={{news[0].links.permalink}}" data-size="large">
      <i class="fa fa-twitter-square twitter-share-button" aria-hidden="true"></i>
    </a>
  </span>
</h2>

<div class="article-subheading">
  <span>
    {{ news.source.name }}
  </span>
  <span class="article-date">
    {{ news.publishedAt | date:'medium' }}
  </span>
</div>

<div class="article-body">
  <img class="article-image col-xs-7" ng-src="{{ primaryArticle.media[0].url }}">
  <p>
    {{ primaryArticle.body }}
  </p>
  <div class="article-author">
    {{ primaryArticle.author.name }}
  </div>
</div>