/*
  ===============================
    Fonts
  ===============================
*/

/* latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond'), local('EBGaramond'), url(../../styles/fonts/kYZt1bJ8UsGAPRGnkXPeFYgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* latin */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display SC'), local('PlayfairDisplaySC-Regular'), url(../styles/fonts/G0-tvBxd4eQRdwFKB8dRkcpZhAz-Y4L7w9UGfkSwo78.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(../../styles/fonts/JaMH4jmmzP070-OYo03anaCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(../../styles/fonts/qx1LSqts-NtiKcLw4N03IJsM3FTMmj2kTPH3yX99Yaw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



/*
  ===============================
    Custom Styles
  ===============================
*/

.landing-page {
  margin-top: 30px;
  text-align: center;
}

.landing-page > a > img {
  width: 65%;
  border: 1px solid grey;
  border-radius: 8px;
}

.landing-page > p {
  margin-top: 35px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
  font-family: 'Karla', sans-serif;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  margin-top: 0px;
}

h1.landing-page-title {
  text-align: center;
  margin-top: 40px;
  font-family: 'Kaushan Script', cursive;
  font-size: 46px;
  margin-bottom: 25px;
}

h1 > a {
  text-decoration: none;
  color: black;
}

h1 > a:hover {
  text-decoration: none;
  color: black;
}



h2 {
  font-family: 'EB Garamond', serif;
  font-size: 30px;
}

h2.top {
  font-size: 36px;
}

h2.comment  > a {
  font-size: 16px;
  margin-bottom: 0;
  font-family: 'EB Garamond', serif;
  color: #3b5998;
  font-weight: bold;
}

h2.bot {
  font-size: 24px;
}

h2 > a {
  text-decoration: none;
  color: black;
}

h2 > a:hover {
  text-decoration: none;
  color: black;
}

h3 {
  font-size: 26px;
  font-family: 'EB Garamond', serif;
}

.link {
  cursor: pointer;
}

/* Navbar */

.navbar {
  margin-bottom: 5px;
}

/* Home */

.primaryImg {
  max-width: 200px;
  border: 10px 10px;
  float: left;
}

.upperdiv.container {
  margin: 30px auto 20px auto;
}

#home-left-div {
  padding-left: 0px;
  height: 1800px;
}

#home-right-div {
  padding-right: 10px;
}

/* Trend Chart */

#top-trends-div {
  font-family: 'EB Garamond', serif;
}

#top-trends-div > h3 {
  padding-left: 5px;
  margin-bottom: 22px;
}

#trend-list {
  padding-left: 10px;
}

li.trend-listing {
  list-style: none;
  margin: 5px 0;
}

.trend-rank {
  display: inline-block;
  font-size: 24px;
  min-width: 20px;
}

.trend-image {
  max-width: 200px;
  border-radius: 6px;
  margin: 5px;
  margin-right: 15px;
}

.trend-topic {
  font-size: 20px;
}

.trend-traffic {
  font-size: 16px;
}

/* Article */

.save-button {
  float: right;
}

.analyze-button {
  float: right;
  margin-right: 3px;
}

.article-name {
  display: inline-block;
  max-width: 70%;
}

.article-bubble-chart {
  display: block;
  margin: 0 auto;
}

.article-image {
  padding-left: 0px;
  max-width: 95%;
  max-height: 95%;
}

.article-subheading {
  margin-top: 23px;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  padding: 10px 10px 12px 0px;
}

.article-body {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  text-align: justify;
}

.article-author {
  text-align: right;
}

/* Article Preview */

.article-body-preview {
  height: 250px;
}

.article-preview-left {
  position: relative;
  padding: 10px 0px;
}

.article-date {
  float: right;
}

.article-preview-right {
  position: relative;
  height: 100%;
  overflow: scroll;
}

/* Search Bar */

.searchbar.form-control {
  border-radius: 0
}

.dropdown-menu>li>a {
}

.dropdown-image {
  width: 64px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.dropdown-image > img {
  height: 64px;
  max-width: 64px;
}

article
/* Results Graph */

#graph {
  width: auto;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.datafill {
    fill: lightsteelblue;
    fill-opacity: 0.5;
    stroke-width: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #AAA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 32px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

div.tooltip-articles {
  position: absolute;
  text-align: left;
  width: 200px;
  height: 100px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightskyblue;
  border: 1px;
  border-color: black;
  border-radius: 8px;
  pointer-events: none;
}

.tooltip-date {
  /* nothing needed */
}

.tooltip-value {
  font-weight: bold;
}

.tooltip-target {
  fill: black;
  fill-opacity: 0.0;
}

.tooltip-target-on {
  fill: black;
  fill-opacity: 0.25;
}

/*.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}*/

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.tick {
  display: inline-block;
  /*font-weight: bold;*/
  font-size: 1.5em;
  stroke-width: 2px;
}

#profile-page {
  margin-top: 30px;
}


#profile-header {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

#profile-header > img {
  width: 95px;
  margin: 20px 20px 20px 0;
  border-radius: 8px;
}

#profile-title {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 20px;
}

#search-history {
  word-wrap: break-word;
  border-spacing: 0 1em;
  width: 100%;
  padding-top: 15px;
  margin-top: 10px;
}

.comment-text {

}

.comment-submit {
  padding-top: 10px;
  padding-bottom: 15px;
}

.comment-options {
  text-align: right;
}

.comments-picture > img {
  max-width: 45px;
  margin: 0 10px 0px 0;
  border-radius: 8px;
}

.comments-user-name {
  vertical-align: text-top;
  line-height: 170%;
}

#comments-header {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

#comments-header > img {
  width: 45px;
  margin: 20px 20px 20px 0;
  border-radius: 8px;
}

#comments-title {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 20px;
}

.search-history-saveddate {
  width: 12%;
}

.search-history-title {
  width: 46%;
}

.search-history-title > a {
  padding-right: 5px;
}

.search-history-source {
  width: 20%;
}

.search-history-source > div {
  padding-right: 20px;
}

.search-history-date {
  width: 12%;
}

.search-history-remove {
  width: 10%;
}

.facebook-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: left;
  background: #4267b2;
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 4px;
  font-size: 13px;
  height: 25.7px;
  width: 25.7px;
  color: #fff;
  cursor: pointer;
}

.facebook-button:hover {
  background: #365899;
  /*border: 1px solid #365899;*/
  color: white;
  text-decoration: none;
}

.twitter-share-button {
  color: #1da1f2;
  height: 27px;
  width: 27px;
  float: left;
  margin-right: 3px;
}

.twitter-share-button:hover {
  color: #0c7abf
}

.social-buttons-container {
  margin: 2px 0;
}

.google-share-button {
  color: #db4437;
  height: 27px;
  width: 27px;
  float: left;
}

.google-share-button:hover {
  color: #c53929;
}
.bottom-spacer {
  width: 500px;
  height: 50px;
}

